In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('weather_data.csv',index_col=["date_time"])

In [4]:
df.head()

,weathercode (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),precipitation_sum (mm),rain_sum (mm),precipitation_hours (h),windspeed_10m_max (km/h),windgusts_10m_max (km/h),winddirection_10m_dominant (°),et0_fao_evapotranspiration (mm),latitude,longitude,elevation,river_discharge,city
date_time,,,,,,,,,,,,,,,,,,,
2009-01-01,2.0,33.2,21.9,27.2,34.6,25.7,29.8,0.0,0.0,0.0,9.7,29.2,122.0,4.80,7.5,1.100006,326.0,0.0,Atakpame
2009-01-02,51.0,32.3,23.3,27.1,33.9,28.2,30.5,0.1,0.1,1.0,8.6,24.5,163.0,3.99,7.5,1.100006,326.0,0.0,Atakpame
2009-01-03,51.0,32.5,22.7,27.1,35.0,27.1,30.5,0.2,0.2,2.0,6.2,21.2,173.0,3.77,7.5,1.100006,326.0,0.0,Atakpame
2009-01-04,1.0,33.4,22.2,27.5,35.0,25.9,30.0,0.0,0.0,0.0,8.4,24.1,155.0,4.51,7.5,1.100006,326.0,0.0,Atakpame
2009-01-05,2.0,34.2,22.2,27.8,36.1,26.0,30.4,0.0,0.0,0.0,6.8,20.2,219.0,4.48,7.5,1.100006,326.0,0.0,Atakpame

In [5]:
df.index = pd.to_datetime(df.index)

In [6]:
df.index

DatetimeIndex(['2009-01-01', '2009-01-02', '2009-01-03', '2009-01-04',
               '2009-01-05', '2009-01-06', '2009-01-07', '2009-01-08',
               '2009-01-09', '2009-01-10',
               ...
               '2023-08-03', '2023-08-04', '2023-08-05', '2023-08-06',
               '2023-08-07', '2023-08-08', '2023-08-09', '2023-08-10',
               '2023-08-11', '2023-08-12'],
              dtype='datetime64[ns]', name='date_time', length=58707, freq=None)

In [7]:
df.index.min(),df.index.max()

(Timestamp('2009-01-01 00:00:00'), Timestamp('2023-08-12 00:00:00'))

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 58707 entries, 2009-01-01 to 2023-08-12
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   weathercode (wmo code)           58685 non-null  float64
 1   temperature_2m_max (°C)          58685 non-null  float64
 2   temperature_2m_min (°C)          58685 non-null  float64
 3   temperature_2m_mean (°C)         58685 non-null  float64
 4   apparent_temperature_max (°C)    58685 non-null  float64
 5   apparent_temperature_min (°C)    58685 non-null  float64
 6   apparent_temperature_mean (°C)   58685 non-null  float64
 7   precipitation_sum (mm)           58685 non-null  float64
 8   rain_sum (mm)                    58685 non-null  float64
 9   precipitation_hours (h)          58707 non-null  float64
 10  windspeed_10m_max (km/h)         58685 non-null  float64
 11  windgusts_10m_max (km/h)         58685 non-null  float64
 12  winddirection_10m_dominant (°)   58685 non-null  float64
 13  et0_fao_evapotranspiration (mm)  58685 non-null  float64
 14  latitude                         58707 non-null  float64
 15  longitude                        58707 non-null  float64
 16  elevation                        58707 non-null  float64
 17  river_discharge                  58707 non-null  float64
 18  city                             58707 non-null  object
dtypes: float64(18), object(1)
memory usage: 9.0+ MB

In [9]:
df['city'].unique()

array(['Atakpame', 'Kara', 'Dapaong', 'Sokode', 'Bafilo', 'Kpalime',
       'Bassar', 'Tsevie', 'Lome', 'Badou', 'Mango'], dtype=object)

In [166]:
df_rain = pd.read_csv('twitter_rain.csv',index_col=["date_time"])

In [167]:
df_rain.head()

                city  intensity_rain
date_time
2009-01-01  Atakpame               0
2009-01-02  Atakpame               0
2009-01-03  Atakpame               0
2009-01-04  Atakpame               0
2009-01-05  Atakpame               0

In [168]:
df_rain.index = pd.to_datetime(df_rain.index)

In [169]:
df_rain.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 58707 entries, 2009-01-01 to 2023-08-12
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city            58707 non-null  object
 1   intensity_rain  58707 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.3+ MB

In [170]:
df_flood = pd.read_csv('twitter_flood.csv',index_col=["date_time"])

In [171]:
df_flood.head()

                city  intensity_flood
date_time
2009-01-01  Atakpame                0
2009-01-02  Atakpame                0
2009-01-03  Atakpame                0
2009-01-04  Atakpame                0
2009-01-05  Atakpame                0

In [172]:
df_flood.index = pd.to_datetime(df_flood.index)

In [173]:
df_flood.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 58707 entries, 2009-01-01 to 2023-08-12
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   city             58707 non-null  object
 1   intensity_flood  58707 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.3+ MB

In [174]:
df_drought = pd.read_csv('twitter_drought.csv',index_col=["date_time"])

In [175]:
df_drought.head()

                city  intensity_drought
date_time
2009-01-01  Atakpame                  0
2009-01-02  Atakpame                  0
2009-01-03  Atakpame                  0
2009-01-04  Atakpame                  0
2009-01-05  Atakpame                  0

In [176]:
df_drought.index = pd.to_datetime(df_drought.index)

In [177]:
df_drought.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 58707 entries, 2009-01-01 to 2023-08-12
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               58707 non-null  object
 1   intensity_drought  58707 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.3+ MB

In [178]:
df['city'].unique()

array(['Atakpame', 'Kara', 'Dapaong', 'Sokode', 'Bafilo', 'Kpalime',
       'Bassar', 'Tsevie', 'Lome', 'Badou', 'Mango'], dtype=object)

In [179]:
df_atakpame = df.loc[df['city'] == 'Atakpame']

In [180]:
df_atakpame.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5337 entries, 2009-01-01 to 2023-08-12
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   weathercode (wmo code)           5335 non-null   float64
 1   temperature_2m_max (°C)          5335 non-null   float64
 2   temperature_2m_min (°C)          5335 non-null   float64
 3   temperature_2m_mean (°C)         5335 non-null   float64
 4   apparent_temperature_max (°C)    5335 non-null   float64
 5   apparent_temperature_min (°C)    5335 non-null   float64
 6   apparent_temperature_mean (°C)   5335 non-null   float64
 7   precipitation_sum (mm)           5335 non-null   float64
 8   rain_sum (mm)                    5335 non-null   float64
 9   precipitation_hours (h)          5337 non-null   float64
 10  windspeed_10m_max (km/h)         5335 non-null   float64
 11  windgusts_10m_max (km/h)         5335 non-null   float64
 12  winddirection_10m_dominant (°)   5335 non-null   float64
 13  et0_fao_evapotranspiration (mm)  5335 non-null   float64
 14  latitude                         5337 non-null   float64
 15  longitude                        5337 non-null   float64
 16  elevation                        5337 non-null   float64
 17  river_discharge                  5337 non-null   float64
 18  city                             5337 non-null   object
dtypes: float64(18), object(1)
memory usage: 833.9+ KB

In [181]:
df_rain_atakpame = df_rain[df_rain['city'] == 'Atakpame']

In [182]:
df_rain_atakpame.drop(['city'],axis=1,inplace=True)

/var/folders/1d/w72pys2d2q58j17kf_kg6h300000gr/T/ipykernel_5782/2350726786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rain_atakpame.drop(['city'],axis=1,inplace=True)

In [183]:
df_rain_atakpame.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5337 entries, 2009-01-01 to 2023-08-12
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   intensity_rain  5337 non-null   int64
dtypes: int64(1)
memory usage: 83.4 KB

In [184]:
df_rain_atakpame.shape

(5337, 1)

In [185]:
df_drought_atakpame = df_drought[df_drought['city'] == 'Atakpame']

In [186]:
df_drought_atakpame.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5337 entries, 2009-01-01 to 2023-08-12
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               5337 non-null   object
 1   intensity_drought  5337 non-null   int64
dtypes: int64(1), object(1)
memory usage: 125.1+ KB

In [187]:
df_drought_atakpame.shape

(5337, 2)

In [188]:
df_drought_atakpame.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5337 entries, 2009-01-01 to 2023-08-12
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city               5337 non-null   object
 1   intensity_drought  5337 non-null   int64
dtypes: int64(1), object(1)
memory usage: 125.1+ KB

In [189]:
df_drought_atakpame.drop(['city'],axis=1,inplace=True)

/var/folders/1d/w72pys2d2q58j17kf_kg6h300000gr/T/ipykernel_5782/373297473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drought_atakpame.drop(['city'],axis=1,inplace=True)

In [190]:
df_flood_atakpame = df_flood[df_flood['city'] == 'Atakpame']

In [191]:
df_flood_atakpame.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5337 entries, 2009-01-01 to 2023-08-12
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   city             5337 non-null   object
 1   intensity_flood  5337 non-null   int64
dtypes: int64(1), object(1)
memory usage: 125.1+ KB

In [192]:
df_flood_atakpame.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5337 entries, 2009-01-01 to 2023-08-12
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   city             5337 non-null   object
 1   intensity_flood  5337 non-null   int64
dtypes: int64(1), object(1)
memory usage: 125.1+ KB

In [193]:
df_flood_atakpame.shape

(5337, 2)

In [194]:
df_flood_atakpame.drop(['city'],axis=1,inplace=True)

/var/folders/1d/w72pys2d2q58j17kf_kg6h300000gr/T/ipykernel_5782/1089197862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_flood_atakpame.drop(['city'],axis=1,inplace=True)

In [196]:
df_atakpame.shape

(5337, 19)

In [198]:
df_rain.shape

(58707, 2)

In [199]:
print(df_atakpame.index)

DatetimeIndex(['2009-01-01', '2009-01-02', '2009-01-03', '2009-01-04',
               '2009-01-05', '2009-01-06', '2009-01-07', '2009-01-08',
               '2009-01-09', '2009-01-10',
               ...
               '2023-08-03', '2023-08-04', '2023-08-05', '2023-08-06',
               '2023-08-07', '2023-08-08', '2023-08-09', '2023-08-10',
               '2023-08-11', '2023-08-12'],
              dtype='datetime64[ns]', name='date_time', length=5337, freq=None)

In [207]:
df2 = pd.concat([df_atakpame, df_rain_atakpame], axis=1)

In [209]:
df3 = pd.concat([df2,df_flood_atakpame],axis=1)

In [210]:
df4 = pd.concat([df3,df_drought_atakpame],axis=1)

In [211]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5337 entries, 2009-01-01 to 2023-08-12
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   weathercode (wmo code)           5335 non-null   float64
 1   temperature_2m_max (°C)          5335 non-null   float64
 2   temperature_2m_min (°C)          5335 non-null   float64
 3   temperature_2m_mean (°C)         5335 non-null   float64
 4   apparent_temperature_max (°C)    5335 non-null   float64
 5   apparent_temperature_min (°C)    5335 non-null   float64
 6   apparent_temperature_mean (°C)   5335 non-null   float64
 7   precipitation_sum (mm)           5335 non-null   float64
 8   rain_sum (mm)                    5335 non-null   float64
 9   precipitation_hours (h)          5337 non-null   float64
 10  windspeed_10m_max (km/h)         5335 non-null   float64
 11  windgusts_10m_max (km/h)         5335 non-null   float64
 12  winddirection_10m_dominant (°)   5335 non-null   float64
 13  et0_fao_evapotranspiration (mm)  5335 non-null   float64
 14  latitude                         5337 non-null   float64
 15  longitude                        5337 non-null   float64
 16  elevation                        5337 non-null   float64
 17  river_discharge                  5337 non-null   float64
 18  city                             5337 non-null   object
 19  intensity_rain                   5337 non-null   int64
 20  intensity_flood                  5337 non-null   int64
 21  intensity_drought                5337 non-null   int64
dtypes: float64(18), int64(3), object(1)
memory usage: 959.0+ KB

In [212]:
df4.to_csv("weather_atakpame.csv")