In [25]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('drought.csv')

In [6]:
df.isna().sum()

weathercode (wmo code)             22
temperature_2m_max (°C)            22
temperature_2m_min (°C)            22
temperature_2m_mean (°C)           22
apparent_temperature_max (°C)      22
apparent_temperature_min (°C)      22
apparent_temperature_mean (°C)     22
precipitation_sum (mm)             22
rain_sum (mm)                      22
precipitation_hours (h)             0
windspeed_10m_max (km/h)           22
windgusts_10m_max (km/h)           22
winddirection_10m_dominant (°)     22
et0_fao_evapotranspiration (mm)    22
latitude                            0
longitude                           0
elevation                           0
river_discharge                     0
city                                0
intensity_drought                   0
date_time                           0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   weathercode (wmo code)           58685 non-null  float64
 1   temperature_2m_max (°C)          58685 non-null  float64
 2   temperature_2m_min (°C)          58685 non-null  float64
 3   temperature_2m_mean (°C)         58685 non-null  float64
 4   apparent_temperature_max (°C)    58685 non-null  float64
 5   apparent_temperature_min (°C)    58685 non-null  float64
 6   apparent_temperature_mean (°C)   58685 non-null  float64
 7   precipitation_sum (mm)           58685 non-null  float64
 8   rain_sum (mm)                    58685 non-null  float64
 9   precipitation_hours (h)          58707 non-null  float64
 10  windspeed_10m_max (km/h)         58685 non-null  float64
 11  windgusts_10m_max (km/h)         58685 non-null  float64
 12  winddirection_10m_dominant (°)   58685 non-null  float64
 13  et0_fao_evapotranspiration (mm)  58685 non-null  float64
 14  latitude                         58707 non-null  float64
 15  longitude                        58707 non-null  float64
 16  elevation                        58707 non-null  float64
 17  river_discharge                  58707 non-null  float64
 18  city                             58707 non-null  object
 19  intensity_drought                58707 non-null  int64
 20  date_time                        58707 non-null  object
dtypes: float64(18), int64(1), object(2)
memory usage: 9.4+ MB

In [8]:
df.drop(['intensity_drought'],axis=1,inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   weathercode (wmo code)           58685 non-null  float64
 1   temperature_2m_max (°C)          58685 non-null  float64
 2   temperature_2m_min (°C)          58685 non-null  float64
 3   temperature_2m_mean (°C)         58685 non-null  float64
 4   apparent_temperature_max (°C)    58685 non-null  float64
 5   apparent_temperature_min (°C)    58685 non-null  float64
 6   apparent_temperature_mean (°C)   58685 non-null  float64
 7   precipitation_sum (mm)           58685 non-null  float64
 8   rain_sum (mm)                    58685 non-null  float64
 9   precipitation_hours (h)          58707 non-null  float64
 10  windspeed_10m_max (km/h)         58685 non-null  float64
 11  windgusts_10m_max (km/h)         58685 non-null  float64
 12  winddirection_10m_dominant (°)   58685 non-null  float64
 13  et0_fao_evapotranspiration (mm)  58685 non-null  float64
 14  latitude                         58707 non-null  float64
 15  longitude                        58707 non-null  float64
 16  elevation                        58707 non-null  float64
 17  river_discharge                  58707 non-null  float64
 18  city                             58707 non-null  object
 19  date_time                        58707 non-null  object
dtypes: float64(18), object(2)
memory usage: 9.0+ MB

In [10]:
df.to_csv('weather_data.csv',index=False)

In [19]:
df_w_drought = pd.read_csv('drought.csv')

In [20]:
df_w_drought.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   weathercode (wmo code)           58685 non-null  float64
 1   temperature_2m_max (°C)          58685 non-null  float64
 2   temperature_2m_min (°C)          58685 non-null  float64
 3   temperature_2m_mean (°C)         58685 non-null  float64
 4   apparent_temperature_max (°C)    58685 non-null  float64
 5   apparent_temperature_min (°C)    58685 non-null  float64
 6   apparent_temperature_mean (°C)   58685 non-null  float64
 7   precipitation_sum (mm)           58685 non-null  float64
 8   rain_sum (mm)                    58685 non-null  float64
 9   precipitation_hours (h)          58707 non-null  float64
 10  windspeed_10m_max (km/h)         58685 non-null  float64
 11  windgusts_10m_max (km/h)         58685 non-null  float64
 12  winddirection_10m_dominant (°)   58685 non-null  float64
 13  et0_fao_evapotranspiration (mm)  58685 non-null  float64
 14  latitude                         58707 non-null  float64
 15  longitude                        58707 non-null  float64
 16  elevation                        58707 non-null  float64
 17  river_discharge                  58707 non-null  float64
 18  city                             58707 non-null  object
 19  intensity_drought                58707 non-null  int64
 20  date_time                        58707 non-null  object
dtypes: float64(18), int64(1), object(2)
memory usage: 9.4+ MB

In [21]:
drought_columns = ['date_time','city','intensity_drought']

In [22]:
df_drought = df_w_drought[drought_columns].copy()

In [16]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          58707 non-null  object
 1   city               58707 non-null  object
 2   intensity_drought  58707 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

In [23]:
df_drought.to_csv('twitter_drought.csv',index=False)

In [27]:
df_w_flood = pd.read_csv('flood.csv')

In [28]:
df_w_flood.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   weathercode (wmo code)           58685 non-null  float64
 1   temperature_2m_max (°C)          58685 non-null  float64
 2   temperature_2m_min (°C)          58685 non-null  float64
 3   temperature_2m_mean (°C)         58685 non-null  float64
 4   apparent_temperature_max (°C)    58685 non-null  float64
 5   apparent_temperature_min (°C)    58685 non-null  float64
 6   apparent_temperature_mean (°C)   58685 non-null  float64
 7   precipitation_sum (mm)           58685 non-null  float64
 8   rain_sum (mm)                    58685 non-null  float64
 9   precipitation_hours (h)          58707 non-null  float64
 10  windspeed_10m_max (km/h)         58685 non-null  float64
 11  windgusts_10m_max (km/h)         58685 non-null  float64
 12  winddirection_10m_dominant (°)   58685 non-null  float64
 13  et0_fao_evapotranspiration (mm)  58685 non-null  float64
 14  latitude                         58707 non-null  float64
 15  longitude                        58707 non-null  float64
 16  elevation                        58707 non-null  float64
 17  river_discharge                  58707 non-null  float64
 18  city                             58707 non-null  object
 19  intensity_flood                  58707 non-null  int64
 20  date_time                        58707 non-null  object
dtypes: float64(18), int64(1), object(2)
memory usage: 9.4+ MB

In [31]:
flood_columns=['date_time','city','intensity_flood']

In [32]:
df_flood = df_w_flood[flood_columns].copy()

In [33]:
df_flood.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date_time        58707 non-null  object
 1   city             58707 non-null  object
 2   intensity_flood  58707 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

In [34]:
df_flood.to_csv('twitter_flood.csv',index=False)

In [35]:
df_w_rain = pd.read_csv('rain.csv')

In [36]:
df_w_rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   weathercode (wmo code)           58685 non-null  float64
 1   temperature_2m_max (°C)          58685 non-null  float64
 2   temperature_2m_min (°C)          58685 non-null  float64
 3   temperature_2m_mean (°C)         58685 non-null  float64
 4   apparent_temperature_max (°C)    58685 non-null  float64
 5   apparent_temperature_min (°C)    58685 non-null  float64
 6   apparent_temperature_mean (°C)   58685 non-null  float64
 7   precipitation_sum (mm)           58685 non-null  float64
 8   rain_sum (mm)                    58685 non-null  float64
 9   precipitation_hours (h)          58707 non-null  float64
 10  windspeed_10m_max (km/h)         58685 non-null  float64
 11  windgusts_10m_max (km/h)         58685 non-null  float64
 12  winddirection_10m_dominant (°)   58685 non-null  float64
 13  et0_fao_evapotranspiration (mm)  58685 non-null  float64
 14  latitude                         58707 non-null  float64
 15  longitude                        58707 non-null  float64
 16  elevation                        58707 non-null  float64
 17  river_discharge                  58707 non-null  float64
 18  city                             58707 non-null  object
 19  intensity_rain                   58707 non-null  int64
 20  date_time                        58707 non-null  object
dtypes: float64(18), int64(1), object(2)
memory usage: 9.4+ MB

In [37]:
rain_columns=['date_time','city','intensity_rain']

In [38]:
df_rain = df_w_rain[rain_columns].copy()

In [39]:
df_rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58707 entries, 0 to 58706
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_time       58707 non-null  object
 1   city            58707 non-null  object
 2   intensity_rain  58707 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

In [40]:
df_rain.to_csv('twitter_rain.csv',index=False)